.header-container {
    position: relative;
    background-color: #222;
    width: 100vw;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header_img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
}